{% extends 'LabIPZ/base.html' %}
{% block content %}
    <style>
        .text {
            text-align: center;
        }
    </style>
    <div class="container">
    <div class="text">
        <h1>Ім'я: {{ user.first_name }}</h1>
        <h1>Прізвище: {{ user.last_name }}</h1>
        <h1>Логін: {{ user.username }}</h1>
        <h1>Email: {{ user.email }}</h1>
    </div>
{% endblock %}

