{% extends 'LabIPZ/base.html' %}
{% block title %}
    Добавлення викладачів
{% endblock %}

{% block content %}
    <div class="addinglector">
        <h1>Добавлення викладачів</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.first_name }}<br>
            {{ form.last_name }}<br>
            {{ form.age }}<br>
            {{ form.learn_lesson }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Додати</button>
        </form>
    </div>
{% endblock %}