{% extends 'LabIPZ/base.html' %}
{% block title %}
    Добавлення предметів
{% endblock %}

{% block content %}
    <div class="addinglesson">
        <h1>Добавлення предметів</h1>
        <form method="post">
            {% csrf_token %}
            {{ form_lesson.lesson }}<br>
            {{ form_lesson.lector }}<br>
            <span>{{ error_lesson }}</span>
            <button class="btn btn-success" type="submit">Додати</button>
        </form>
    </div>
{% endblock %}