{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% include 'LabIPZ/link.html' %}
</head>
<body>
{% include 'LabIPZ/header.html' %}
<div class="container">
    <main>
        {% block content %}
        {% endblock %}
    </main>
{#{% include 'LabIPZ/footer.html' %}#}
</div>

</body>
</html>