{% load static %}
<header>
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <img src="{% static '/LabIPZ/img/logo.jpg' %}" alt="ВНС">
            <span class="logo"></span>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'home' %}" class="nav-link px-2 text-black"><i
                        class="fas fa-home"></i>Головна сторінка</a></li>
                <li><a href="{% url 'about' %}" class="nav-link px-2 text-black"><i class="far fa-address-card">
                </i>Інформація</a>
                </li>
                <li><a href="{% url 'lector' %}" class="nav-link px-2 text-black"><i class="fas fa-users"></i>Викладачі</a>
                </li>
                <li><a href="{% url 'lesson' %}" class="nav-link px-2 text-black"><i class="fas fa-university"></i>Предмети</a>
                </li>
                <li><a href="{% url 'task' %}" class="nav-link px-2 text-black"><i class="fas fa-tasks"></i>Завдання</a>
                </li>
            </ul>
            <div class="text-end">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" type="button" class="btn btn-outline-primary me-2"><i
                            class="fas fa-sign-out-alt"></i>Вийти</a>
                        <a class="nav-link" href="{% url 'about' %}">Вітаю, {{ user.username }}</a>
                {% else %}
                    <a href="{% url 'login' %}" type="button" class="btn btn-outline-primary me-2"><i
                            class="fas fa-sign-in-alt"></i>Увійти</a>
                    <a href="{% url 'registration' %}" type="button" class="btn btn-primary"><i
                            class="fas fa-user-plus"></i>Зареєструватись</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>