{% extends 'LabIPZ/base.html' %}
{% load static %}
{% block title %}
    Головна сторінка
{% endblock %}
<style>
    .main_image {
        display: block;
        margin: auto;
        right: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
    }
</style>

{% block content %}
    {% include 'LabIPZ/link.html' %}
    <h1>Головна сторінка!</h1>
    <p>
        Тут можна побачити загальну інформацію по викладачам та предметам. <br>
        A також Ви можете відредагувати дані, змінити інформацію та видалити запис!
    </p>
    <div class="images">
        <img class="main_image" src="{% static 'LabIPZ/img/nulp.jpg' %}" width="50%" height="45%" alt="MainPage">
    </div>
{% endblock %}