{% extends 'LabIPZ/base.html' %}
{% block title %}
    Видалення викладача
{% endblock %}

{% block content %}
    <div class="addinglector">
        <h1>Видалення викладача</h1>
        <form method="post">
            {% csrf_token %}
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Видалити</button>
        </form>
    </div>
{% endblock %}