{% extends 'LabIPZ/base.html' %}
{% block title %}Деталі про викладача{% endblock %}

{% block content %}
    <div class="details">
        <h1>Ім'я: {{ lector_detail.first_name }}</h1>
        <h1>Прізвище: {{ lector_detail.last_name }}</h1>
        <h1>Вік: {{ lector_detail.age }}</h1>
        <h1>Предмет: {{ lector_detail.learn_lesson }}</h1>
        <a href="{% url 'lector_delete' lector_detail.id %}" class="btn btn-danger">Видалити</a>
        <a href="{% url 'lector_update' lector_detail.id %}" class="btn btn-info">Редагувати</a>
    </div>
{% endblock %}
