{% extends 'LabIPZ/base.html' %}
{% block title %}Деталі про предмет{% endblock %}

{% block content %}
    <div class="details">
        <h1>Назва предмету: {{ lesson_detail.lesson }}</h1>
        <h1>Викладач: {{ lesson_detail.lector }}</h1>
        <a href="{% url 'lesson_delete' lesson_detail.id %}" class="btn btn-danger">Видалити</a>
        <a href="{% url 'lesson_update' lesson_detail.id %}" class="btn btn-info">Редагувати</a>
    </div>
{% endblock %}
