{% extends 'LabIPZ/base.html' %}
{% block title %}
    Видалення предметів
{% endblock %}

{% block content %}
    <div class="addinglesson">
        <h1>Видалення предметів</h1>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">Видалити</button>
        </form>
    </div>
{% endblock %}