{% load static %}
{% block content %}
    <style>
        .alert-primary {
            float: left;
            clear: both;
            width: 400px;
            margin: 20px 34%;
            text-align: left;
        }
    </style>
    {% include 'LabIPZ/link.html' %}
    {% if user.is_authenticated %}
        <div class="alert alert-primary">
            {% if lesson_list %}
                {% for elem in lesson_list %}
                    <div class="alert alert-secondary">
                        <h3>Предмет: {{ elem.lesson }}</h3>
                        <p>ID: {{ elem.id }}</p>
                        <a href="{% url 'lesson_detail' elem.id %}" class="btn btn-primary">Детальніше</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>Можете добавити предмети!</p>
            {% endif %}
            <div class="lesson_list">
                <div class="containerButton">
                    <a href="{% url 'add_lesson' %}">
                        <button class="btn btn-success"><i class="fas fa-plus-circle"></i>Добавити предмет</button>
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        <p>Щоб добавляти предмети, потрібно бути <a href="{% url 'registration' %}">зареєстрованим</a> або якщо вже
            маєте
            профіль, то <a href="{% url 'login' %}">уввійти</a></p>
    {% endif %}
{% endblock %}