{% load static %}
{% block content %}
    <style>
        .alert-primary {
            float: left;
            clear: both;
            width: 400px;
            margin: 20px 34%;
            text-align: left;
        }
    </style>
    {% include 'LabIPZ/link.html' %}
    {% if user.is_authenticated %}
        <div class="alert alert-primary">
            {% if lector_list %}
                {% for el in lector_list %}
                    <div class="alert alert-secondary">
                        <h3>Ім'я: {{ el.first_name }}</h3>
                        <h3>Прізвище: {{ el.last_name }}</h3>
                        <p>Вік: {{ el.age }}</p>
                        <p>Предмет: {{ el.learn_lesson }}</p>
                        <a href="{% url 'lector_detail' el.id %}" class="btn btn-primary">Детальніше</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>Можете добавити викладачів!</p>
            {% endif %}
            <div class="lector_list">
                <a href="{% url 'add_lector' %}">
                    <button class="btn btn-success"><i class="fas fa-plus-circle"></i>Добавити викладача</button>
                </a>
            </div>
        </div>
    {% else %}
        <p>Щоб добавляти викладачів, потрібно бути <a href="{% url 'registration' %}">зареєстрованим</a> або якщо вже
            маєте
            профіль, то <a href="{% url 'login' %}">уввійти</a></p>
    {% endif %}
{% endblock %}
