{% extends 'LabIPZ/base.html' %}
{% block title %}
    Добавлення завдань
{% endblock %}

{% block content %}
    <div class="addinglector">
        <h1>Добавлення завдань</h1>
        <form method="post">
            {% csrf_token %}
            {{ form_task.name }}<br>
            {{ form_task.lesson }}<br>
            {{ form_task.description }}
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Додати</button>
        </form>
    </div>
{% endblock %}