{% load static %}
<style>
    .alert-primary {
        float: left;
        clear: both;
        width: 400px;
        margin: 20px 34%;
        text-align: left;
    }
</style>

{% block content %}
    {% include 'LabIPZ/link.html' %}
    {% if user.is_authenticated %}
        <div class="alert alert-primary">
            {% if task_list %}
                {% for el in task_list %}
                    <div class="alert alert-secondary">
                        <h3>Завдання: {{ el.name }}</h3>
                        <p>Із предмету: {{ el.lesson }}</p>
                        <a href="{% url 'task_detail' el.id %}" class="btn btn-primary">Детальніше</a>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                {% endfor %}
            {% else %}
                <p>Можете добавити завдання!</p>
            {% endif %}
            <div class="lector_list">
                <a href="{% url 'add_task' %}">
                    <button class="btn btn-success"><i class="fas fa-plus-circle"></i>Добавити завдання</button>
                </a>
            </div>
        </div>
    {% else %}
        <p>Щоб добавляти завдання, потрібно бути <a href="{% url 'registration' %}">зареєстрованим</a> або якщо вже
            маєте профіль, то <a href="{% url 'login' %}">уввійти</a></p>
    {% endif %}
{% endblock %}