{% extends 'LabIPZ/base.html' %}
{% block title %}Деталі про завдання{% endblock %}

{% block content %}
    <div class="details">
        <h1>Завдання: {{ task_detail.name }}</h1>
        <h1>Предмет: {{ task_detail.lesson }}</h1>
        <p>Опис: {{ task_detail.description }}</p>
        <a href="{% url 'task_delete' task_detail.id %}" class="btn btn-danger">Видалити</a>
        <a href="{% url 'task_update' task_detail.id %}" class="btn btn-info">Редагувати</a>
    </div>
{% endblock %}
