{% extends 'LabIPZ/base.html' %}
{% block title %}
    Видалення завдання
{% endblock %}

{% block content %}
    <div class="addinglector">
        <h1>Видалення завдання</h1>
        <form method="post">
            {% csrf_token %}
            <span>{{ error_task }}</span>
            <button class="btn btn-success" type="submit">Видалити</button>
        </form>
    </div>
{% endblock %}